.button {
  width: 100%;
  padding: 12px 55px;
  border: 1px solid $alpha-onyx-light;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;

  @include pseudo-button($black, $silver);

  @include breakpoint($medium) {
    width: auto;
  }
}

.button--sucess {
  @include pseudo-button($white, $emerald);
}
