.ticket {
  max-width: 800px;
  margin: 30px 10px;
  padding: 25px 30px 20px;
  border-radius: 2px;
  background: $clouds;
  box-shadow: $shadow;

  @include breakpoint($small) {
    margin: 30px auto;
  }
}

.ticket__title {
  margin: 15px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $alpha-nephritis;
  color: $nephritis;
}
