.button {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid $alpha-onyx-light;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;

  @include pseudo-button($black, $silver);

  @include breakpoint($medium) {
    width: 180px;
  }
}

.button--success {
  @include pseudo-button($white, $emerald);
}

.button--error {
  @include pseudo-button($white, $alizarin);
}

.button[disabled] {
  color: $alpha-onyx-dark;
  cursor: not-allowed;
  @include pseudo-button($black, $silver);
}
