.form__label {
  display: inline-block;
  margin: 20px 0 8px 1px;
  color: $black;
  font-size: 12px;
  font-weight: bold;

  .form--success & {
    color: $nephritis;
  }

  .form__group--error & {
    color: $alizarin;
  }
}

.form__control {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid $alpha-onyx-dark;
  border-radius: 4px;
  background: $alpha-white;
  color: $black;
  font-size: 14px;

  .form--loading & {
    background: $alpha-onyx-light;
    color: $alpha-black-light;
    pointer-events: none;
  }

  .form__group--error & {
    border-color: $alpha-alizarin;
  }

  &:active:focus,
  &:active,
  &:focus {
    border-color: $seagull;
    outline-width: 0;

    .form__group--error & {
      border-color: $alizarin;
    }
  }
}

.form__button {
  margin: 20px 0 10px;
}

.form__help-block {
  display: inline-block;
  margin: 10px 0 5px;
  transition: opacity .5s;
  font-size: 12px;
  font-style: italic;
  opacity: 0;

  .form__group--error & {
    color: $alizarin;
    opacity: 1;
  }
}
