html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0 10px;
  background: $white;
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
