h1,
h2 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 28px;

  @include breakpoint($large) {
    font-size: 32px;
  }
}

h2 {
  font-size: 20px;

  @include breakpoint($large) {
    font-size: 28px;
  }
}
